.users {
    text-align: center;
    margin-bottom: 20px;
}
.nav-link {
    color: white;
}
.btn-secondary:hover {
    box-shadow: 0 0 3px 1px lightseagreen;
}
.table {
    margin-top: 15px;
}
.th-actions {
    text-align: center;
}
.container-buttons {
    display: flex;
    justify-content: center;
}
.btn-outline-info {
    margin-right: 10px;
}